.panel {
    display: flex;
}

.sidebar {
    flex: 25%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.heading {
    margin-left: 20px;
}

.content-panel {
    flex: 75%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-menu{
    margin-left: 10rem;
}
.navbar-item{
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    text-decoration: none;
    padding:20px;
    color:#fff;
    background-color: rgb(5, 5, 95);
    margin:1px;
}
.provider-grid{
    display:flex;
}
.provider-img{
    flex: 35%;
    text-align: right;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.provider-content{
    flex: 65%;
    padding:10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.content{
    padding:5px;
    font-size: large;
}